<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- TODO user need to change directory -->
    <add key="EncryptedFilePath" value="E:\Mod13\Democode\Data"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
    </startup>
</configuration>
