<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
  </startup>
  <connectionStrings><add name="SchoolDBEntities" connectionString="metadata=res://*/Data.SchoolData.csdl|res://*/Data.SchoolData.ssdl|res://*/Data.SchoolData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;initial catalog=SchoolDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/></connectionStrings>
</configuration>
